* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f7;
}

header {
    background-color: white;
}

.nav-section {
    width: 100%;
}

.upper-nav {
    background: rgba(0, 0, 0, 0.8);

}

.upper-nav ul {
    width: 90vw;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.upper-nav ul li {
    color: rgba(255, 255, 255, 1);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

#Search-icon {
    filter: invert(1);
    width: 14px;
    height: 44px;
}

.lower-nav {
    display: flex;
    width: 90vw;
    margin: 0px auto;
    justify-content: space-between;

}

.nav-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-Container h5 {
    color: rgba(191, 72, 0, 1);
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.08px;

}

/* end og nav */
.hero-section {
    width: 90vw;
    margin: 0px auto;

}

.hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 113px;


}

.new {
    color: rgba(110, 110, 115, 1);
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.37px;

}

.hero-Big {
    background-image: linear-gradient(90deg,
            rgba(44, 162, 180, 1) 0%,
            rgba(85, 152, 222, 1) 24%,
            rgba(127, 135, 255, 1) 45%,
            rgba(246, 90, 173, 1) 76%,
            rgba(236, 61, 67, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.01px;
    letter-spacing: -0.14px;
}

.hero-BL {
    display: flex;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.buybtn {
    border-radius: 980px;
    background: rgba(0, 113, 227, 1);
    width: 61.2px;
    height: 36px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Separator {
    width: 100%;
    height: 10px;
    background: rgba(245, 245, 247, 1);
}

.full-width.dark {
    background: rgba(0, 0, 0, 1);
}

.second-Hero-section {
    width: 90vw;

    margin: 0px auto;
}

.second-Hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-top: 113px;
}

.second-Hero-Big {
    background-image: linear-gradient(180deg,
            rgba(255, 182, 255, 1),
            rgba(179, 68, 255, 1) 100%);

    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;


    font-size: 48px;
    font-weight: 700;
    line-height: 52.01px;
    letter-spacing: -0.14px;

}

.second-Hero-product-name {
    color: rgba(255, 255, 255, 1);
}

a {
    color: rgba(0, 113, 227, 1);
    text-decoration: none;
}

.IphoneSE-section {
    width: 85vw;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.left-SE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}



.Third-Hero-Big {
    background-image: linear-gradient(90.00deg,
            rgba(30, 55, 145, 1),
            rgba(41, 72, 177, 1) 40%,
            rgba(49, 83, 198, 1) 55%,
            rgba(56, 95, 218, 1) 60%);
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.01px;
    letter-spacing: -0.14px;

}

.Blue-Guy {
    background-image: url(./Assets/images/BlueGuy.png);
    width: 95vw;
    height: 814px;
    margin: 0px auto;
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;

}

.BlueGuy-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.BlueGuy-info h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.22px;

}

.BlueGuy-info h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 52.01px;
    letter-spacing: -0.14px;

}

.filmbtn {
    border-radius: 980px;
    background: rgba(255, 255, 255, 1);
    width: 141.2px;
    height: 36px;
    display: flex;

    justify-content: center;
    align-items: center;
}

.Content-section {
    width: 80vw;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 1);
}

.WhichIphone {
    color: rgba(29, 29, 31, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 52.01px;
    letter-spacing: -0.14px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.Content-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.Content-grid ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Content-grid ul li {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.main-content-info {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(110, 110, 115, 1);
    ;
}

.content-buy {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.content-color {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.color-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.color-circle.Red {
    background: red;
}

.color-circle.Black {
    background: black;
}

.color-circle.Grey {
    background: grey;
}

.content-link {
    text-align: center;
    margin-top: 40px;

}

.content-link a {
    display: inline-block;
    margin: 10px 20px;
}

.content-highlight {
    color: rgba(29, 29, 31, 1);
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.37px;

}

.size-inch {
    font-weight: bold;
}

.redbini-section {
    width: 90vw;
    margin: 40px auto;
    background-color: rgba(1, 1, 42, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.redbini-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redbini-left h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 90px;
    font-weight: 700;
    line-height: 100.01px;
    letter-spacing: -0.27px;
}

.redbini-right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.redbini-right img {
    width: 100%;
}

.Way-to-Buy {
    width: 90vw;
    margin: 0px auto;
}

.WTB-headline {
    color: rgba(29, 29, 31, 1);
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.28px;
    text-align: center;
}

.WTB-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 560px;
    gap: 20px;
    border-radius: 10px;
}

.w {
    background-color: white;
    border-radius: 10px;
}

.Way-1 {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.Way-1 p {
    color: rgba(29, 29, 31, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.22px;
}

.Way-1 h2 {
    color: rgba(29, 29, 31, 1);
    font-size: 42px;
    font-weight: 700;
    line-height: 52.01px;
    letter-spacing: -0.14px;
    text-align: center;
}

.way-1-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    ;
}

.way-1-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.way-1-card p {
    color: rgba(110, 110, 115, 1);
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.23px;
    text-align: center;
}

.fbtn {
    background: rgba(0, 113, 227, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}

.Way-2-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.way-2-3-headline {
    color: rgba(29, 29, 31, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 52.01px;
    letter-spacing: -0.14px;
    text-align: center;
}

.Way-2-3 p {
    color: rgba(29, 29, 31, 1);
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.23px;
    text-align: center;
    padding: 0px 50px;
    /* this padding stop working when i give 100% width to img */
}

.way-2-3-img img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.Way-4 {
    grid-column: 1 / 3;
    grid-row: 3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Assets/images/ICenter.png);
}

.way4-content {
    width: 40%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
    top: 60px;
}

.way4-content p {
    color: rgba(29, 29, 31, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.23px;
    text-align: center;
}

.accessories-section {
    width: 90vw;
    margin: 0px auto;

}

.accessories-headline {
    color: rgba(29, 29, 31, 1);


    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.28px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.accessories-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

}

.acc-img img {
    width: 100%;
    

}

.acc-1-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.accessories-card {
    border-radius: 10px;
}

.acc-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 10px;
}

.acc-text h3 {
    color: rgba(29, 29, 31, 1);


    font-size: 48px;
    font-weight: 700;
    line-height: 52.01px;
    letter-spacing: -0.14px;
    text-align: center;
}

.acc-text p {
    color: rgba(29, 29, 31, 1);
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.23px;
    text-align: center;
}

.acc-link {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.acc-3 {
    background: white;
}

.acc-3-img img {
    width: 100%;
}

.acc-3-headline {
    color: rgba(29, 29, 31, 1);

    font-size: 48px;
    font-weight: 700;
    line-height: 52.01px;
    letter-spacing: -0.14px;
    text-align: center;
}

.accessories {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.22px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card-IpanIP-section {
    width: 90vw;
    margin: 0px auto;
}

.delivery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bold-delivery {
    color: rgba(29, 29, 31, 1);
    font-size: 21px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.23px;
    text-align: center;
}

.para-delivery {
    color: rgba(29, 29, 31, 1);


    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.23px;
    text-align: center;
}

.Whats-Make-headline {
    color: rgba(29, 29, 31, 1);
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.28px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.WM-big-banner img {
    width: 100%;


}

.WM-small-banner {
    width: 50%;
    margin: 0px auto;
    background-color: white;
}

.banner-img img {
    width: 100%;
}

.banner-info h3 {
    color: rgba(29, 29, 31, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 52.01px;
    letter-spacing: -0.14px;
    text-align: center;
    padding-top: 50px;

}

.banner-info a {
    display: block;
    text-align: center;

    padding: 20px 0px;
}

.Get-more-section {
    width: 90vw;
    margin: 0px auto;
}

.Get-more-section h2 {

    color: rgba(29, 29, 31, 1);
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.28px;
    text-align: center;

    margin-top: 50px;
    margin-bottom: 30px;
}

.get-more-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 560px;


    gap: 20px;
    border-radius: 10px;
}

.get-more-card-container-long {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.get-more-card-img {
    width: 50%;
}

.get-more-card-img img {
    width: 100%;
}

.get-more-card-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.get-more-card-container-middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.get-more-card-Middle-img {
    width: 100%;
}

.get-more-card-Middle-img img {
    width: 100%;
}

.get-more-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.get-more-headline span {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

}

.GT-line {
    color: rgba(29, 29, 31, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 52.01px;
    letter-spacing: -0.14px;

}

.get-more-para {
    color: rgba(29, 29, 31, 1);
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.23px;
    text-align: center;
}

.get-more-link {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.study-info h3 {
    color: rgba(29, 29, 31, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 52.01px;
    letter-spacing: -0.14px;
}

.GT-logo img {
    width: 50px;
    height: 50px;
}

.useless-info {
    width: 70vw;
    margin: 50px auto;

}

.useless-info p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;

}

.big-one {
    font-size: 82px;
    font-weight: 900;
}

.footer {
    width: 70vw;
    margin: 50px auto;
    margin-bottom: 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.footer-column{
     display: flex;
    flex-direction: column;
    gap: 20px;

}
.footer-column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-column ul li a {
    color: black;
}
.footer-bottom{
    margin-top: 40px;
}
.for-a-line{
    border-bottom: 1px solid rgb(0, 0, 0);
}
.last-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media screen and (max-width: 1000px){
    .lower-nav{
     display: flex;
     flex-wrap: wrap;
    }
    .hero-image{
        width: 100%;
    }
    .IphoneSE-section {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.right-SE{
    width: 100%;
    text-align: center;
}
.right-SE img{
    width: 100%;
}
.Blue-Guy {
    background-image: url(./Assets/images/BlueGuy.png);
    width: 100%;
    height: 814px;
    margin: 0px auto;
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;

}
.redbini-section {
    width: 100%;
    margin: 40px auto;
    background-color: rgba(1, 1, 42, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.acc-1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    gap: 50px;
}
.tag{
    flex-direction: column-reverse;
}

}